<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'customer.label', default: 'Customer')}" />
        <title><g:message code="default.show.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#show-customer" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
                <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="show-customer" class="content scaffold-show" role="main">
            <h1><g:message code="default.show.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message" role="status">${flash.message}</div>
            </g:if>
           %{-- <f:display bean="customer" />--}%
            <ol class="property-list customer">
<g:each in="${customer}" var="result">
                <li class="fieldcontain">
                    <span id="firstName-label" class="property-label">First Name</span>
                    <div class="property-value" aria-labelledby="firstName-label">${result?.firstName}</div>
                </li>

                <li class="fieldcontain">
                    <span id="lastName-label" class="property-label">Last Name</span>
                    <div class="property-value" aria-labelledby="lastName-label">${result?.lastName}</div>
                </li>

                <li class="fieldcontain">
                    <span id="phoneNumber-label" class="property-label">Phone Number</span>
                    <div class="property-value" aria-labelledby="phoneNumber-label">${result?.phoneNumber}</div>
                </li>

                <li class="fieldcontain">
                    <span id="emailAddress-label" class="property-label">Email Address</span>
                    <div class="property-value" aria-labelledby="emailAddress-label">${result?.emailAddress}</div>
                </li>

                <li class="fieldcontain">
                    <span id="product-label" class="property-label">Product</span>
                    <div class="property-value" aria-labelledby="product-label"><a href="/product/show/${result?.product?.id}">
                        ${result?.product?.name}</a></div>
                </li>
</g:each>

            </ol>
            <g:form resource="${this.customer}" method="DELETE">
                <fieldset class="buttons">
                    <g:link class="edit" action="edit" resource="${this.customer}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
                    <input class="delete" type="submit" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
                </fieldset>
            </g:form>
        </div>
    </body>
</html>
