<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'product.label', default: 'Product')}" />
        <title><g:message code="default.show.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#show-product" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
                <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="show-product" class="content scaffold-show" role="main">
            <h1><g:message code="default.show.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message" role="status">${flash.message}</div>
            </g:if>
            <ol class="property-list product">
<g:each in="${product}" var="result">
    <li class="fieldcontain">
        <span id="name-label" class="property-label">Name</span>
        <div class="property-value" aria-labelledby="name-label">${result?.name}</div>
    </li>
    <li class="fieldcontain">
        <span id="manufactureDate-label" class="property-label">Manufacture Date</span>
        <div class="property-value" aria-labelledby="manufactureDate-label">${result?.manufactureDate}</div>
    </li>

    <li class="fieldcontain">
        <span id="company-label" class="property-label">Company</span>
        <div class="property-value" aria-labelledby="company-label"><a href="/company/show/${result?.company?.id}">${result?.company?.name}</a></div>
    </li>
</g:each>



            </ol>
            <g:form resource="${this.product}" method="DELETE">
                <fieldset class="buttons">
                    <g:link class="edit" action="edit" resource="${this.product}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
                    <input class="delete" type="submit" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
                </fieldset>
            </g:form>
        </div>
    </body>
</html>
