
<div class="col-md-12 top30">
   <table cellpadding="1" cellspacing="1">
       <tr>
           <th>Product Name</th>
           <th>Company Name</th>
           <th>Customer Name</th>
       </tr>
       <tr>
<g:each in="${product}" var="result">
           <td>${result?.name}</td>
           <td>${result?.company?.name}</td>
           <td>${customer?.getFullname()}</td>
</g:each>
       </tr>
   </table>
</div>

%{--<g:each in="${product}" var="result">--}%
    %{--<div class="col-md-3  top30">--}%
        %{--Product Name: <p>${result?.name}</p>--}%
    %{--</div>--}%
    %{--<div class="col-md-6 top30">--}%
        %{--Company Name:<p>${result.company.name}</p>--}%
        %{--<lable>Search for Product:</lable>--}%
    %{--</div>--}%
    %{--<div class="col-md-3 top30">--}%
        %{--Customer Name:<p>${customer?.getFullname()}</p>--}%
    %{--</div>--}%

    %{--<g:each in="${product}" var="result">--}%
